body {
  background-image: url('../images/background.png');
  display: flex;
}

table {
  background-color: #dde7e7;
  border-collapse: collapse;
  height: 600px;
  width: 600px;
  border: 5px solid black;
  margin: 60px auto;
}

table td{
  border: 5px solid black;
}

.blue {
  width: 12.5%;
  border: 5px solid black;
  border-radius: 100%;
  background-color: #44d9e6;
}

.red {
  width: 12.5%;
  border: 5px solid black;
  border-radius: 100%;
  background-color: #e65f61;
}

.container {
  margin: auto 100px auto 5px;
}

.score {
  height: 60px;
  width: 60px;
  background-color: #ffffff;
  font-size: 45px;
  padding: 15px;
  text-align: center;
  margin: 50px;
  border-radius: 10px;

}

.player1 {
  border: 7px solid #44d9e6;
}

.player2 {
  border: 7px solid #e65f61;
}
